html {
    scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border-radius: 4px;
    background-color:lightgrey;
    border: 1ps solid darkgrey;
    padding: 4px 6px;
}

time {
    font-size: 10px;
}

h2 {
    overflow: hidden;
}

h3 {
    font-style: italic;
    font-size: 12px;
}

.todoList-wrap {
    display: flex;
}

.container {
    width: 100%;
    max-width: 200px;
    border-radius: 4px;
    padding: 0 5px;
    margin: 50px;
}

.container h2 {
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

.createToDoList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    margin: 10px auto;
}

.createToDoList [placeholder] {
    padding: 5px;
}

.createToDoList textarea {
    resize: none;
    min-height: 100px;
}

.todoTask {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    margin: 10px auto;
}

.todoTask.new {
    background-color: azure;
}

.todoTask.progress {
    background-color: rgb(224, 247, 183);
}

.todoTask.done {
    background-color: rgb(196, 69, 19);
}

.todo h2, p{
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    text-align: left;
    margin: 0 auto;
}

.todo p {
    font-size: 16px;
}

.todos-title, .createToDoList-title {
    font-size: 24px;
    text-align: center;
}

.container-wrap {
    border-radius: 4px;
    display: flex;
    max-width: 900px;
    width: 100%;
}
